@import './base.css';


main {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  box-sizing: border-box;
}

a,
.green {
  text-decoration: none;
  color: inherit;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(188, 34%, 71%, 0.2);
  }
}

@media (min-width: 1024px) {
  body,* {
    margin: 0;
    box-sizing: border-box;
  }

}
